body {
  background-color: #111111;
}

h1 {
  text-align: center;
  color: #E2E80F;
  font-size: 100px;
}

p {
  color: #eeeeee;
  font-size: 25px;
  line-height: 25px;
}

.credits {
  text-decoration: underline;
  color: #49DAFF;
}

.credits:hover {
  cursor: pointer;
}

#film-description {
  font-size: 15px;
  font-style: italic;
}
