h1 {
  color: darkgreen;
  font: georgia;
  text-align: center;
}

h2 {
  font: georgia;
  text-align: center;
}

p {
  line-height: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#like {
  text-transform: uppercase;
}

img {
  float: left;
  height: 200px;
  padding-right: 15px;
}
